doctype html
html
	head
		meta(charset="UTF-8")
		title ¡A huevo! triunfo el mal! GorroTowi Web
		meta(name="descrition" content="GorroTowi Personal Webpage")
		meta(name="author" content="@gorrotowi Sebastian Tellez Orozco")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(href='css/default.css', rel='stylesheet')
		link(href='css/main.css', rel='stylesheet')
		link(href="css/media-queries.css" rel="stylesheet")
		script(src="js/modernizr.js")
	body
		header#home
			nav#nav-wrap
				a.mobile-btn(title="Show navigation" href="#nav-wrap") Show navigation
				a.mobile-btn(href="#" title="Hide navigation") Hide navigation
				ul#nav.nav
					li.current
						a.smoothscroll(href="#home") Home
					li
						a.smoothscroll(href="#about") Acerca de
					li
						a.smoothscroll(href="#resume") Curriculum
					li
						a.smoothscroll(href="#superpoderes") Superpoderes
					//- li
					//- 	a.smoothscroll(href="#testimonials") Testimonials
					li
						a.smoothscroll(href="#contact") Contacto
			.row.banner
				.banner-text
					h1.responsive-headline Soy @GorroTowi.
					h3 Hola! Soy Sebastian Tellez desarrollador móvil en <span>Android</span>, <span>iOS</span>, <span>BlackBerry 10</span> y <span>Firefox OS</span>,
						|amante del <span>Software Libre</span>, del <span>longboarding</span> y la <span>cerveza</span>. Ciclista de ocasión, programador nocturno e instructor sabatino, pero sigamos y conoce más 
						a(href="#about") acerca de mi.
					hr
					ul.social
						li
							a(href="https://twitter.com/gorrotowi" target="_blank")
								i.fa.fa-twitter
						li
							a(href="https://plus.google.com/+sebastiantellez/" target="_blank")
								i.fa.fa-google-plus
						li
							a(href="https://github.com/gorrotowi" target="_blank")
								i.fa.fa-github
						li
							a(href="https://www.linkedin.com/pub/sebastian-tellez/4b/103/31b" target="_blank")
								i.fa.fa-linkedin
						li
							a(href="http://instagram.com/gorrotowi/" target="_blank")
								i.fa.fa-instagram
						li
							a(href="skype:sebasgorro?call")
								i.fa.fa-skype
			p.scrolldown
				a.smoothscroll(href="#about")
					i.icon-down-circle
		section#about
			.row
				.three.columns
					img.profile-pic(src="img/gorrotowi.png" alt="")
				.nine.columns.main-col
					h2 Acerca de mi
					p Mi nombre completo es <b>Sebastian Tellez Orozco</b> pero la mayoria de la gente me conoce como <b>Gorro</b>. Vivo en la gran ciudad de la esperanza (Ciudad de México), nací en una de las fechas mas raras y extrañas (Día de Muertos).
					p Soy estudiante de Ingenieria en Computación (<b>UNAM</b>) mas por casualidad que por decisión, sin embargo, ha sido una de las mejores cosas que me han pasado. Soy entusiasta del Software Libre y he participado activamente en FLISoL al igual que he fundado una comunidad dedicada al SL y el apoyo a los estudiantes de mi facultad. Desde siempre me ha encantado aprender y compartir todo lo que pueda y esto me ha llevado a conocer gente y tecnologías diferentes y muy interesantes.
					p Desde Campus Party Mexico 4 empece a desarrollar en Firefox OS y desde ese momento he participado constantemente con la Fundación Mozilla ayudando a traducir MDN de ingles a español. 
					p En este último año junto con <b><a href="https://www.facebook.com/codearla" target="_blank">CODEAR</a></b> he colaborado dando talleres y conferencias sobre tecnologías abiertas dentro y fuera de la FES Aragon al igual que he trabajado muy de cerca con el programa GSA UNAM dando a conocer las tecnologías de Google para la educación.
					p Soy Sebastian, soy Gorro, soy developer, soy un desastre en ocasiones, troll por vocación, hijo de unos padres increibles que siempre me han apoyado, hermano de un excéntrico y futuro chef pero sobre todo soy alguien que siempre busca aprender, compartir, ayudar y disfrutar en todo este mar de código llamado mundo.
					.row
						.columns.contact-details
							h2 Contacto
							p.address
								span Sebastian Tellez <br/>
								span Sebastian.tellez.o@gmail.com<br/>
								span t_o_wi@hotmail.com
						.columns.download
							p
								a.button(href="SebastianTellezCV.pdf" targer="_blank")
									i.fa.fa-download Descargar CV
		section#resume
			.row.education
				.three.columns.header-col
					h1
						span Educacion
				.nine.columns.main-col
					.row.item
						.twelve.columns
							h3 Universidad
							p.info Ingeniería en Computación <span>&bull;</span> <em class="date"> Agosto 2011 - Actual</em>
							p 
							|Aqui es donde casi todo empezó, Ingeniería en Computación en la Facultad de Estudios Superiores Aragon UNAM, donde aprendí a programar y donde conocí a los que por un buen tiempo serian mi equipo de trabajo y también mis amigos.
							|Es en la FES Aragon donde se cultiva mi inquietud por aprender cosas nuevas y es que siempre busco aprender mas alla de los muros de la escuela y una de las formas que encontre para lograrlo fue crear una comunidad llamada <a href="http://cosa.mobi/" target="_blank">cOSA (comunidad Open Source Aragon) </a>
							|mas adelante empeze a colaborar en <a href="https://www.facebook.com/codearla" target="_blank">CODEAR</a> y a lo largo de la carrera he tratado de retribuir todo lo que la universidad me ha dado atrevez de talleres y conferencias.<br/>
					.row.item
						.twelve.columns
							h3 Preparatoria
							p.info Escuela Nacional Preparatoria No. 9 UNAM <span>&bull;</span> <em class="date"> Agosto 2008 - Mayo 2011</em>
							p 
							|Es en la preparatoria donde conozco el mundo del Software Libre y empiezo con ideas sobre ya no volver a usar windows otra vez (solo en ocaciones muy especiales y eso ya casi no ocurre, bendita Nube!).<br/>
							|Es aqui también donde un amigo me invita a programar una sencilla app para iOS y es justo en ese momento donde mi deseo y pasión por el desarrollo móvil se enciende.
					.row.item
						.twelve.columns
							h3 Cursos y Experiencia adicional
							il
								li Curso Desarrollo Básico Android &bull; Enero 2012
								li Curso de desarrollo básico en plataforma Windows Phone y Nokia asha S40 &bull; Noviembre 2012
								li HTML5 y WebDesing TelmexHUB &bull; 2013
								li iOS & Android HTML5 Apps &bull; 2013
								li BlackBerry 10 App Development with HTML5 &bull; 2013;
								li BlackBerry Jam Argentina &bull; 2013;

			.row.work
				.three.columns.header-col
					h1: span Trabajo
				.nine.columns.main-col
					.row.item
						.twelve.columns
							h3 Consultora OhkaSystems
							p.info Developer Jr iOS, Android & Web <span>&bull;</span> <em class="date">Enero 2013 - Enero 2014</em>
							p 
							|Durante mi periodo en esta empresa desarrolle el front end de dos aplicaciones Followheel para 
							a(src="https://itunes.apple.com/mx/app/followheel/id668986188?mt=8") iOS
							|  y 
							a(src="https://play.google.com/store/apps/details?id=com.ohka.followheel") Android 
							|al igual que el desarrollo de 
							a(src="https://play.google.com/store/apps/details?id=com.ohka.interesse.misseguros") Intesse Android.
					.row.item
						.twelve.columns
							h3 Appcademy
							p.info Instructor <span>&bull;</span> <em class="date">Enero 2014 - Agosto 2014</em>
							p Instructor en la plataforma Android impartiendo el curso "Android Jr" y "Android Sr".
					.row.item
						.twelve.columns
							h3 Centro de Tecnología e Innovación <a src="http://ctinmx.com/" target="_blank">(CTIN)</a>
							p.info Desarrollador de Software <span>&bull;</span> <em class="date">Enero 2013 - Agosto 2014</em>
							p Desarrollador de Software en diferentes proyectos dentro del centro haciendo Front end en Android y HTML5 como:
							il
								li MiMedico
									p Proyecto dedicado a la busqueda de medicos cercanos a la ubicación del usuario haciendo un filtro por especialidad, horario y costo.
								li Abaru
									p Lector de historias de terror inmersivas en el cual el usuario se puede sacar un muy bien susto con su dispositivo.
								li Escuderia Telmex
									p Aplicación en la plataforma Android para Escuderia Telmex.
					.row.item
						.twelve.columns
							h3 KMMX
							p.info Instructor <span>&bull;</span> <em class="date">Agosto 2014 - Actual</em>
							p Instructor en la plataforma Android impartiendo el curso "Desarrollo de aplicaciones avanzadas Android".
					.row.item
						.twelve.columns
							h3 Plicket
							p.info Desarrollador <span>&bull;</span> <em class="date">Febrero 2014 - Actual</em>
							p Desarrollador Front End en Android & iOS de Plicket (Startup en proceso).
			.row.skill#superpoderes
				.three.columns.header-col
					h1
						span Superpoderes
				.nine.columns.main-col
					p 
					|Desde hace casi tres he desarrollado para móviles y he aprendido de varias personas, en todo este tiempo me he especializado en desarrollo Android, sin embargo, me apasiona todo aquello que tenga que ver con desarrollo móvil y web. <br/>
					|Soy un JavaScript Fan por todo aquello que se puede hacer con el hoy en día, desde usar NodeJs, MongoDB hasta poder integrarlo con Hardware Libre. Pero mis mas grandes super poderes son los siguientes
					.bars
						ul.skills
							li
								span.bar-expand.android
									em Android
										i.fa.fa-android
							li
								span.bar-expand.ios
									em iOS
										i.fa.fa-apple
							li
								span.bar-expand.blackberry <em>BlackBerry 10</em>
							li
								span.bar-expand.firefoxos <em>Firefox OS</em>
							li
								span.bar-expand.javascript <em>JavaScript</em>
							li
								span.bar-expand.html5
									em HTML5
										i.fa.fa-html5
							li
								span.bar-expand.linux
									em Linux
										i.fa.fa-linux
		section#contact
			.row.section-head
				.two.columns.header-col
					h1 <span>Contactame</span>
				.ten.columns
						p.lead Puedes contactarme en cualquier momento en alguno de estos dos correos
				.row
					.eight.columns
						p.address
								span Sebastian.tellez.o@gmail.com<br/>
								span t_o_wi@hotmail.com
				//- .row
				//- 	.eight.columns
		//- 			form#contactForm(action="" method="post" name="contactForm")
		//- 				fieldset
		//- 					div
		//- 						label(for="contactName") Nombre <span class="required">*
		//- 						input#contactName(type="text" value="" size="35" name="contactName")
		//- 					div
		//- 						label(for="contactEmail") Email <span class="required">*
		//- 						input#contactName(type="text" value="" size="35" name="contactEmail")
		//- 					div
		//- 						label(for="contactSubject") Asunto <span class="required">*
		//- 						input#contactName(type="text" value="" size="35" name="contactSubject")
		//- 					div
		//- 						label(for="contactMessage") Mensaje <span class="required">*
		//- 						input#contactName(type="text" value="" size="35" name="contactMessage")
		//- 					div
		//- 						button.submit Enviar
		//- 						span#image-loader
		//- 							img(src="img/loader.gif")
		//- 			#message-warning Error, mensaje no enviado
		//- 			#message-success Tu mensaje fue enviado, gracias!
		footer
			.row
				.twelve.columns
					ul.social-links
						li
							a(href="https://twitter.com/gorrotowi" target="_blank")
								i.fa.fa-twitter
						li
							a(href="https://plus.google.com/+sebastiantellez/" target="_blank")
								i.fa.fa-google-plus
						li
							a(href="https://github.com/gorrotowi" target="_blank")
								i.fa.fa-github
						li
							a(href="https://www.linkedin.com/pub/sebastian-tellez/4b/103/31b" target="_blank")
								i.fa.fa-linkedin
						li
							a(href="http://instagram.com/gorrotowi/" target="_blank")
								i.fa.fa-instagram
						li
							a(href="skype:sebasgorro?call")
								i.fa.fa-skype
				#go-top
					a.smoothscroll(title="Back to Top" href="#home")
						i.icon-up-open
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(type="text/javascript")
			window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"<\/script')
		script(type="text/javascript" src="js/jquery-migrate-1.2.1.min.js")
		script(src="js/jquery.flexslider.js")
		script(src="js/waypoints.js")
		script(src="js/jquery.fittext.js")
		script(src="js/magnific-popup.js")
		script(src="js/init.js")