doctype html
html
	head
		meta(charset="UTF-8")
		title GorroTowi Web
		meta(name="descrition" content="GorroTowi Personal Webpage")
		meta(name="author" content="@gorrotowi Sebastian Tellez Orozco")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(href='css/default.css', rel='stylesheet')
		link(href='css/main.css', rel='stylesheet')
		link(href="css/media-queries.css" rel="stylesheet")
		script(src="js/modernizr.js")
	body
		header#home
			nav#nav-wrap
				a.mobile-btn(title="Show navigation" href="#nav-wrap") Show navigation
				a.mobile-btn(href="#" title="Hide navigation") Hide navigation
				ul#nav.nav
					li.current
						a.smoothscroll(href="#home") Home
					li
						a.smoothscroll(href="#about") Acerca de
					li
						a.smoothscroll(href="#resume") Curriculum
					li
						a.smoothscroll(href="#superpoderes") Superpoderes
					//- li
					//- 	a.smoothscroll(href="#testimonials") Testimonials
					li
						a.smoothscroll(href="#contact") Contacto
			.row.banner
				.banner-text
					h1.responsive-headline Soy @GorroTowi.
					h3 Hola! Soy Sebastian Tellez desarrollador móvil en <span>Android</span>, <span>iOS</span>, <span>BlackBerry 10</span> y <span>Firefox OS</span>,
						|amante del <span>Software Libre</span> del <span>longboarding</span> y la cerveza. Ciclista de ocasión, programador nocturno e instructor sabatino, pero sigamos y conoce más 
						a(href="#about") acerca de mi.
					hr
					ul.social
						li
							a(href="https://twitter.com/gorrotowi" target="_blank")
								i.fa.fa-twitter
						li
							a(href="https://plus.google.com/+sebastiantellez/" target="_blank")
								i.fa.fa-google-plus
						li
							a(href="https://github.com/gorrotowi" target="_blank")
								i.fa.fa-github
						li
							a(href="https://www.linkedin.com/pub/sebastian-tellez/4b/103/31b" target="_blank")
								i.fa.fa-linkedin
						li
							a(href="http://instagram.com/gorrotowi/" target="_blank")
								i.fa.fa-instagram
						li
							a(href="skype:sebasgorro?call")
								i.fa.fa-skype
			p.scrolldown
				a.smoothscroll(href="#about")
					i.icon-down-circle
		section#about
			.row
				.three.columns
					img.profile-pic(src="img/gorrotowi.png" alt="")
				.nine.columns.main-col
					h2 Acerca de mi
					p Mi nombre completo es <b>Sebastian Tellez Orozco</b> pero la mayoria de la gente me conoce como <b>Gorro</b>. Vivo en la gran ciudad de la esperanza (Ciudad de México), nací en una de las fechas mas raras y extrañas (Día de Muertos).
					p Soy estudiante de Ingenieria en Computación (<b>UNAM</b>) mas por casualidad que por decisión, sin embargo, ha sido una de las mejores cosas que me han pasado. Soy entusiasta del Software Libre y he participado activamente en FLISoL al igual que he fundado una comunidad dedicada al SL y el apoyo a los estudiantes de mi facultad. Desde siempre me ha encantado aprender y compartir todo lo que pueda y esto me ha llevado a conocer gente y tecnologías diferentes y muy interesantes.
					p Desde Campus Party Mexico 4 empece a desarrollar en Firefox OS y desde ese momento he participado constantemente con la Fundación Mozilla ayudando a traducir MDN de ingles a español. 
					p En este último año junto con <b><a href="https://www.facebook.com/codearla" target="_blank">CODEAR</a></b> he colaborado dando talleres y conferencias sobre tecnologías abiertas dentro y fuera de la FES Aragon al igual que he trabajado muy de cerca con el programa GSA UNAM dando a conocer las tecnologías de Google para la educación.
					p Soy Sebastian, soy Gorro, soy developer, soy un desastre en ocasiones, hijo de unos padres increibles que siempre me han apoyado, hermano de un excéntrico y futuro chef pero sobre todo soy alguien que siempre busca aprender, compartir, ayudar y disfrutar en todo este mar de código llamado mundo.
					.row
						.columns.contact-details
							h2 Contacto
							p.address
								span Sebastian Tellez <br/>
								span Sebastian.tellez.o@gmail.com<br/>
								span t_o_wi@hotmail.com
						.columns.download
							p
								a.button(href="#")
									i.fa.fa-download Descarcar CV
		section#resume
			.row.education
				.three.columns.header-col
					h1
						span Educacion
				.nine.columns.main-col
					.row.item
						.twelve.columns
							h3 Universidad
							p.info Ingeniero en algo <span>&bull;</span> <em class="date"> Fecha 2010</em>
							p 
							|Aqui va todo ese choro que quieres aventar de lo que estas estudiando y asi, ya sabes todo bien chafa
							|y asi para que todos digan, hay goeeee!!! se ve bien chido su experiencia escolar y la mamada, ya sabes
					.row.item
						.twelve.columns
							h3 Universidad
							p.info Ingeniero en algo <span>&bull;</span> <em class="date"> Fecha 2010</em>
							p 
							|Aqui va todo ese choro que quieres aventar de lo que estas estudiando y asi, ya sabes todo bien chafa
							|y asi para que todos digan, hay goeeee!!! se ve bien chido su experiencia escolar y la mamada, ya sabes
			.row.work
				.three.columns.header-col
					h1
						span Trabajo
				.nine.columns.main-col
					.row.item
						.twelve.columns
							h3 Empresa name
							p.info Puesto en la empresa <span>&bull;</span> <em class="date">de tal - a tal fecha</em>
							p 
							|Explica que tanto hacias aqui, como cuando te dormias o cuando llegabas tarde, o por que no? cuando echabas
							|el choro de por que no salian las cosas cuando realmente lo que pasaba es que no lo habias hecho y asi :3
					.row.item
						.twelve.columns
							h3 Empresa name
							p.info Puesto en la empresa <span>&bull;</span> <em class="date">de tal - a tal fecha</em>
							p
							|Explica que tanto hacias aqui, como cuando te dormias o cuando llegabas tarde, o por que no? cuando echabas
							|el choro de por que no salian las cosas cuando realmente lo que pasaba es que no lo habias hecho y asi :3
			.row.skill#superpoderes
				.three.columns.header-col
					h1
						span Superpoderes
				.nine.columns.main-col
					p 
					|Esta seria una gran explicacion algo general de todo lo que se hacer, tal vez podria mencionar cosas como a lo que medio
					|le tiro y despues mas abajo puedo poner lo que mas domino, asi bien casualuqui namas pa impresionar :)
					.bars
						ul.skills
							li
								span.bar-expand.android
									em Android
										i.fa.fa-android
							li
								span.bar-expand.ios
									em iOS
										i.fa.fa-apple
							li
								span.bar-expand.blackberry <em>BlackBerry 10</em>
							li
								span.bar-expand.firefoxos <em>Firefox OS</em>
							li
								span.bar-expand.javascript <em>JavaScript</em>
							li
								span.bar-expand.html5
									em HTML5
										i.fa.fa-html5
							li
								span.bar-expand.linux
									em Linux
										i.fa.fa-linux
		section#contact
			.row.section-head
				.two.columns.header-col
					h1 <span>Contactame</span>
				.ten.columns
						p.lead Otro texto realmente extraño para que me puedas contactar...segun
			.row
				.eight.columns
					form#contactForm(action="" method="post" name="contactForm")
						fieldset
							div
								label(for="contactName") Nombre <span class="required">*
								input#contactName(type="text" value="" size="35" name="contactName")
							div
								label(for="contactEmail") Email <span class="required">*
								input#contactName(type="text" value="" size="35" name="contactEmail")
							div
								label(for="contactSubject") Asunto <span class="required">*
								input#contactName(type="text" value="" size="35" name="contactSubject")
							div
								label(for="contactMessage") Mensaje <span class="required">*
								input#contactName(type="text" value="" size="35" name="contactMessage")
							div
								button.submit Enviar
								span#image-loader
									img(src="img/loader.gif")
					#message-warning Error, mensaje no enviado
					#message-success Tu mensaje fue enviado, gracias!
		footer
			.row
				.twelve.columns
					ul.social-links
						li
							a(href="https://twitter.com/gorrotowi" target="_blank")
								i.fa.fa-twitter
						li
							a(href="https://plus.google.com/+sebastiantellez/" target="_blank")
								i.fa.fa-google-plus
						li
							a(href="https://github.com/gorrotowi" target="_blank")
								i.fa.fa-github
						li
							a(href="https://www.linkedin.com/pub/sebastian-tellez/4b/103/31b" target="_blank")
								i.fa.fa-linkedin
						li
							a(href="http://instagram.com/gorrotowi/" target="_blank")
								i.fa.fa-instagram
						li
							a(href="skype:sebasgorro?call")
								i.fa.fa-skype
				#go-top
					a.smoothscroll(title="Back to Top" href="#home")
						i.icon-up-open
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(type="text/javascript")
			window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"<\/script')
		script(type="text/javascript" src="js/jquery-migrate-1.2.1.min.js")
		script(src="js/jquery.flexslider.js")
		script(src="js/waypoints.js")
		script(src="js/jquery.fittext.js")
		script(src="js/magnific-popup.js")
		script(src="js/init.js")